@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 240 5.9% 10%;
		--primary-foreground: 0 0% 98%;
		--secondary: 240 4.8% 95.9%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 100%;
		--border: 240 5.9% 90%;
		--input: 240 4.9% 83.9%;
		--ring: 240 5% 64.9%;
		--radius: 0.5rem;
		--stable-dark: var(--teal-950);
		--stable-base: var(--teal-500);
		--stable-light: var(--teal-200);
		--stable-lighter: var(--teal-50);
		--sidebar-background: 0 0% 98%;
		--sidebar-foreground: 240 5.3% 26.1%;
		--sidebar-primary: 240 5.9% 10%;
		--sidebar-primary-foreground: 0 0% 98%;
		--sidebar-accent: 240 4.8% 95.9%;
		--sidebar-accent-foreground: 240 5.9% 10%;
		--sidebar-border: 220 13% 91%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	  }
	  .dark {
		--background: 240 10% 3.9%;
		--foreground: 240 4.8% 95.9%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 0 0% 98%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 240 3.7% 15.9%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 5.9% 10%;
		--muted-foreground: 240 4.4% 58%;
		--accent: 240 5.9% 10%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 100%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 3.8% 46.1%;
		--sidebar-background: 240 5.9% 10%;
		--sidebar-foreground: 240 4.8% 95.9%;
		--sidebar-primary: 224.3 76.3% 48%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 240 3.7% 15.9%;
		--sidebar-accent-foreground: 240 4.8% 95.9%;
		--sidebar-border: 240 3.7% 15.9%;
		--sidebar-ring: 217.2 91.2% 59.8%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@font-face {
	font-family: 'General Sans';
	src: url('/fonts/GeneralSans-Regular.otf')
			format('opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'General Sans';
	src: url('/fonts/GeneralSans-Italic.otf')
			format('opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'General Sans';
	src: url('/fonts/GeneralSans-Medium.otf')
			format('opentype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'General Sans';
	src: url('/fonts/GeneralSans-MediumItalic.otf')
			format('opentype');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'General Sans';
	src: url('/fonts/GeneralSans-Semibold.otf')
	format('opentype');
	font-weight: 600;
	font-style:normal;
	font-display: swap;
}

@font-face {
	font-family: 'General Sans';
	src: url('/fonts/GeneralSans-Semibold.otf')
	format('opentype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/JetBrainsMono-Medium.ttf')
			format('truetype'),;
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/JetBrainsMonoNL-SemiBold.ttf')
			format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'JetBrains Mono';
	src: url('/fonts/JetBrainsMonoNL-Regular.ttf')
			format('truetype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body{
	font-family: 'General Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'General Sans', monospace;
  font-weight: 600;
}

code, pre {
  font-family: 'JetBrains Mono', monospace;
}

.size-10 {
	width: 2.5rem;
	height: 2.5rem;
}

.size-8 {
	width: 2rem;
	height: 2rem;
}

.page-content {
    margin-top: 1rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(107 114 128 / var(--tw-text-opacity));
}
.page-content p {
    margin-bottom: 1rem;
}

.text-headers-h3 {
    font-size: 32px;
    line-height: 115%;
    letter-spacing: -0.512px;
    font-weight: 500;
}

.text-headers-h4 {
    font-size: 24px;
    line-height: 125%;
    letter-spacing:-0.23px;
    font-weight: 500;
}
.object-cover { 
    /* -o-object-fit: cover;  */
    object-fit: cover;
} 

.object-left-bottom { 
    /* -o-object-position: left bottom;  */
    object-position: left bottom;
} 

.object-none { 
    /* -o-object-fit: none;  */
    object-fit: none;
} 
.animate-ping {
    animation: ping 1s cubic-bezier(0,0,.2,1) infinite;
}

::selection {
	background-color: #3aa662;
	color: white;
}